.mainPage {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url('/assets/wenatchee_river.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 70px;
}

.peakPalsCard {
    box-shadow: rgb(119, 119, 119) 0px 2px 5px;
    backdrop-filter: blur(50px) brightness(120%);
    width: 75%;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    height: fit-content;
}

.peakPalsHeader{
    
    align-items: center;
}

.title {
    text-align: center;
    margin: 40px 0;
    color: white;
}

.subtitle {
    text-align: center;
    margin: 10px 0;
    color: white;
}

.gitHubLink{
    text-align: center;
    margin: 40px 0;
    color: white;
    text-decoration: none;
}

.gitHubLink:hover{
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 5px;
}

.peakPalsImage1,
.peakPalsImage2,
.peakPalsImage3 {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.peakPalsImageContainer{
    height:270px;
}

@media (max-width: 1600px) {
    .peakPalsImageContainer {
        height: 230px;
    }
}
@media (max-width: 1400px) {
    .peakPalsImageContainer {
        height: 320px;
    }
}
@media (max-width: 1200px) {
    .peakPalsImageContainer {
        height: 260px;
    }
}
@media (max-width: 992px) {
    .peakPalsImageContainer {
        height: 460px;
    }
}
@media (max-width: 768px) {
    .peakPalsImageContainer {
        height: 360px;
    }
}
@media (max-width: 576px) {
    .peakPalsImageContainer {
        height: 250px;
    }
}

p,li{
    color: rgb(197, 197, 197);
}

ul{
    list-style-type: none;
    padding: 0 !important;
    margin: 0;
    text-align: center;
}

.peakPalsCol{
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: rgb(197, 197, 197);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
}

.peakPalsRow{
    justify-content: center;
}