.mainPage {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-image: url('/assets/wenatchee_river.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 70px;
    padding-top: 100px;
}