.mainPage{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url('/assets/little_cottonwood_canyon.jfif');
    background-size: cover;
    background-attachment: fixed;
}

.mainCard {
    box-shadow: rgb(119, 119, 119) 0px 2px 5px;
    backdrop-filter: blur(50px) brightness(30%);
    width: 75%;
    border-radius: 20px;
    margin-top: 100px;
    height: fit-content;
}

.title {
    text-align: center;
    margin: 40px;
    margin-bottom: 0;
    color: white;
}

.subtitle {
    text-align: center;
    margin: 10px;
    color: white;
}

.subInfo {
    text-align: center;
    margin: 20px;
    color: white;
}

.classList {
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: rgb(197, 197, 197);
    background-color: rgba(95, 87, 104, 0.3);
    border-radius: 20px;
    padding: 20px;
}

.focusList {
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: rgb(197, 197, 197);
    background-color: rgba(95, 87, 104, 0.3);
    border-radius: 20px;
    padding: 20px;
}
