#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 2em;
  text-align: center;
  background-image: url("/assets/el_capitan_yosemite_valley_4k.jpg");
  background-size: cover;
  background-attachment: fixed;
}