.footer {
    /* background-color: gray; */
    backdrop-filter: blur(10px);
    box-shadow: rgb(119, 119, 119) 0px -2px 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.footerRightsText {
    text-align: left;
}

@media (max-width: 1320px) {
    .footerRightsText {
    text-align: center;
    }
}
.footerRowContent {
    display: flex;
    align-items: center;
    padding: 0.1rem 2rem;
    white-space: nowrap;
    justify-content: space-between;
}

.footerLinkedInText,
.footerGithubText,
.footerResumeText,
.footerCopyrightText,
.footerRightsText,
.footerEmailText {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.bootstrapIcon{
    position: relative;
    bottom: 3px;
}

.footerLinkedInText:hover,
.footerGithubText:hover,
.footerResumeText:hover,
.footerEmailText:hover{
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 5px;
}